(function(window) {
    window["env"] = window["env"] || {};

    // Environment variables
    window["env"]["PRODUCTION"] = "${PRODUCTION}";
    window["env"]["API_ENDPOINT"] = "${API_ENDPOINT}";
    window["env"]["APP_ENDPOINT"] = "${APP_ENDPOINT}";

})(this);
