/* SAP Fiori Icons */
@font-face {
    font-family: 'SAP Fiori Icons';
    src: url(SAP-icons.eot); /* For IE6-8 */
    src:
        url(SAP-icons.woff2) format('woff2'),
        url(SAP-icons.woff) format('woff'),
        url(SAP-icons.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.sap-icons {
  font-family: 'SAP Fiori Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  overflow: hidden;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
