.git
.gitignore
.idea
.npm
.ionic
LICENSE
VERSION
README.md
docker-compose.yml
.settings
bower_components
node_modules
platforms
*.iml
plugins
reports
resources
target
SPEC_GEN/output
.env
.DS_Store
dist
package-lock.json
