.optimizations-table-column-name{
    min-width: 35%;
    max-width: 35%;
}

.optimizations-table-column-createdBy{
    min-width: 25%;
    max-width: 25%;
}

.optimizations-table-column-creationDate{
    min-width: 15%;
    max-width: 15%;
}

.optimizations-table-column-lastModified{
    min-width: 15%;
    max-width: 15%;
}

.optimizations-table-column-BTN_REMOVE{
    text-align: end;
    justify-content: flex-end;
}
