
.projects-table-column-name{

}

.projects-table-column-customerData{
    min-width: 15%;
    max-width: 15%;
}

.projects-table-column-creationDate{
    min-width: 20%;
    max-width: 20%;
}

.projects-table-column-createdBy{
    min-width: 15%;
    max-width: 15%;
}

.projects-table-column-lastOpenedDate{
    min-width: 20%;
    max-width: 20%;
}


.shortcuts-table-column-type{
    min-width:60px;
    max-width: 60px;
}

.shortcuts-table-column-projectName{

}

.shortcuts-table-column-name{

}

.shortcuts-table-column-menu{
    min-width: 20%;
    max-width: 20%;
}

.shortcuts-table-column-BTN_REMOVE{
    text-align: end;
    justify-content: flex-end;
    min-width: 60px;
    max-width: 60px;
}
