<h1 mat-dialog-title>{{ "PROJECTS.OPTIMIZATION_DETAILS.ADD_GROUP_DIALOG.TITLE" | translate }}</h1>
<div mat-dialog-content fxLayout="column" fxLayoutAlign="start start">

    <button mat-button class="!mt-4" (click)="addGroup()"><mat-icon>add</mat-icon>{{ 'PROJECTS.OPTIMIZATION_DETAILS.ADD_GROUP_DIALOG.ADD_BTN' | translate }}</button>

    <mat-list class="w-full mt-4 h-full" style="max-height:400px; overflow-y:auto;">
        <mat-list-item style="height:62px;" *ngFor="let app of allAppsAndTrucks">
            <div fxLayout="row" style="width: 100%;min-height:62px; max-height:62px;">
                <div class="mr-4">
                    <img style="max-width: 60px;max-height: 60px;min-height:60px; border-radius: 6px;position: relative;" src="{{ '../../../assets/img/Task_Pics/logisticFunctionType_' + normalizeApplicationType(app.application.applicationType) + '.jpg' }}">
                </div>
                <div style="width:130px;word-break: break-word;white-space: normal;overflow: hidden;text-overflow: ellipsis;hyphens: auto;" fxLayout="column" fxLayoutAlign="center start">
                    <span style="font-size: 14px;font-weight: 500;line-height: normal;display:inline-block; width:100%;">{{ app.application.name }}</span>
                    <span style="font-size: 9px;line-height: 1.5em; height:3em;  color: gray;display:inline-block; width:100%;">{{ 'FUNCTIONTYPE_' + normalizeApplicationType(app.application.applicationType) | translate }}</span>
                </div>
                <div fxFlex></div>
                <mat-form-field style="min-width:120px;">
                    <mat-select [(ngModel)]="app.group">
                        <mat-option *ngFor="let group of groups" [value]="group">
                            <span *ngIf="group!=='-1'">{{ 'PROJECTS.OPTIMIZATION_DETAILS.ADD_GROUP_DIALOG.GROUP' | translate }} {{group}}</span>
                            <span *ngIf="group==='-1'">{{ 'PROJECTS.OPTIMIZATION_DETAILS.ADD_GROUP_DIALOG.NO_GROUP' | translate }}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-divider style="border-top-color:white"></mat-divider>
        </mat-list-item>
    </mat-list>

</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="cancel()">{{ "GLOBAL.CANCEL" | translate}}</button>
    <button mat-button (click)="save()" cdkFocusInitial>{{ "GLOBAL.SAVE" | translate}}</button>
</div>
